<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.xiongkaijie.web.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.xiongkaijie.web.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>LogonServlet</servlet-name>
    <servlet-class>com.xiongkaijie.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScanEmpServlet</servlet-name>
    <servlet-class>com.xiongkaijie.web.servlet.emp.ScanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>YanImageServlet</servlet-name>
    <servlet-class>com.xiongkaijie.web.servlet.YanImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CAPTCHAEfficacyServlet</servlet-name>
    <servlet-class>com.xiongkaijie.web.servlet.CAPTCHAEfficacyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitLoginServlet</servlet-name>
    <servlet-class>com.xiongkaijie.web.servlet.ExitLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.xiongkaijie.web.servlet.RegistServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>LogonServlet</servlet-name>
    <url-pattern>/logon.pd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScanEmpServlet</servlet-name>
    <url-pattern>/servlet/emp/scan.pd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YanImageServlet</servlet-name>
    <url-pattern>/yzm.pd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CAPTCHAEfficacyServlet</servlet-name>
    <url-pattern>/CAPTCHAEfficacy.pd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitLoginServlet</servlet-name>
    <url-pattern>/empExit.pd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet.pd</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
