@CHARSET "UTF-8";
.top_logo{width:980px; height:150px;margin-bottom:10px;}
.top_menu{width:980px; height:20px;background-color:blue;}
.top_menu ul{list-style:none;}
.top_menu ul li{float:left;width:80px;height:20px;text-align:center;line-height:20px;}
.top_menu ul li a{width:80px;height:20px;display:block;}
.top_menu ul li a:link, .top_menu ul li a:visited{color:#000;}