@CHARSET "UTF-8";
.login ul{list-style:none;}
.login ul li{float:left;line-height:30px;margin-right:2px;}
.login_button,.login_button_hover{width:110px;height:30px;background:url('../images/buttons/buttons.png') no-repeat;border:none;cursor: pointer;}
.login_button{background-position: 0px 2px;}
.login_button_hover{background-position: 0px -36px;}
.login_anth_text{width:40px;}
.login_label{position:absolute;z-index:100;color:#dedede;cursor:text;}
